<ion-item-sliding [disabled]="disabled" #item>
    <ion-item-options (ionSwipe)="onSticky(item)" side="start">
        <ion-item-option color="warning" (click)="onSticky(item)">
            <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
    </ion-item-options>

    <ion-item [disabled]="disabled" class="item">
        <ion-reorder slot="start">
                <ion-icon name="reorder"></ion-icon>
        </ion-reorder>
        <div class="content">

            <ion-item lines="none">

                <ion-label><b>{{_device.name}}</b></ion-label>
                <!--<ion-label slot="end">
                        {{device.on_state ? "On" : "Off"}}
                    </ion-label>-->
                <ion-toggle slot="start" disabled="{{_device.brightness ? false : true}}" [(ngModel)]="_device.on_state"
                    (ionChange)="onStateChange($event)"></ion-toggle>
            </ion-item>

            <ion-item lines="none">
                <ion-range debounce="20" [(ngModel)]="_device.brightness" color="{{_device.on_state ? 'primary' : 'medium'}}"
                    pin="true" (ngModelChange)="onBrightnessChange($event)">
                    <ion-icon slot="start" color="medium" size="small" name="sunny"></ion-icon>
                    <ion-icon slot="end" name="sunny"></ion-icon>
                </ion-range>
            </ion-item>

        </div>
    </ion-item>

    <ion-item-options (ionSwipe)="onDetach(item)" side="end">
        <ion-item-option color="light" (click)="onConfig(item)">
            <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="onDetach(item)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
    </ion-item-options>
</ion-item-sliding>