<ion-header>
  <ion-toolbar>

    <ion-buttons slot="secondary">
      <ion-button color="primary" (click)="onDismiss()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons show="false" slot="primary">
      <ion-button color="primary" (click)="onConfirm()">
        Confirm
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Startup Settings</ion-label>
    </ion-list-header>
    <ion-item button (click)="editName()">
      Default Name
      <ion-label color="medium" slot="end" disabled="true">{{device.name}}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-toggle slot="start" disabled="{{device.brightness ? false : true}}" [(ngModel)]="device.on_state">
      </ion-toggle>
      <ion-label>Default State</ion-label>
    </ion-item>
    <ion-item>
      <ion-range debounce="20" [(ngModel)]="device.brightness" color="{{device.on_state ? 'primary' : 'medium'}}"
        pin="true">
        <ion-icon slot="start" color="medium" size="small" name="sunny"></ion-icon>
        <ion-icon slot="end" name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>